.accordion {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px dashed #b1b1b1;
    cursor: pointer;
    margin-bottom: 8px;
  }
  &__title {
    @include heading3;
    margin: 0;
  }
}

.Collapsible__contentInner {
  @include heading4;
}
