$purple: #b378ff;
$pink: #f778b9;
$blue: #486db7;
$indigo-50: #ECF0F7;
$grey-neutral-50: #f1f1f1;
$grey-neutral-100: #e4e4e4;
$grey-neutral-200: #cacaca;
$grey-neutral-300: #b1b1b1;
$grey-neutral-400: #979797;
$grey-neutral-500: #7d7d7d;
$grey-neutral-600: #696969;
$grey-neutral-700: #555555;
$grey-neutral-800: #414141;
$grey-neutral-900: #2d2d2d;
$grey-neutral-1000: #191919;
$white: #ffffff;
$black: #000000;
